%h2 Books

%table.table.table-striped.books
  - @books.each do |book|
    %tr
      %td
        %img.img-polaroid{:src=>book.thumbnail, :alt=>book.title}
      %td
        %h4
          = book.title
        %b Authors:
        = book.authors || "none"

= will_paginate(@books, :renderer => BootstrapPagination::Sinatra)