!!! 5
%html
  %head
    %title The Great Library
    %script{:src=>"/jquery-1.9.1.min.js", :type=>"text/javascript"}
    %script{:src=>"/bootstrap/js/bootstrap.min.js"}
    %link{:rel=>"stylesheet", :href=>"/bootstrap/css/bootstrap.min.css"}
    %link{:rel=>"stylesheet", :href=>"/fontawesome/css/font-awesome.min.css"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/style.css"}
  %body{:style=>"padding-top: 50px;"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href=>"/"} The Great Library

          %ul.nav
            %li
              %a{:href=>"/books"} Books

    .container
      - if @error
        .alert.alert-error
          = @error
      = yield
